.todo-items-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.app-container {
  background-color: #ffc2a0;
  background-size: cover;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  width: fit-content;
}

.list-container {
  list-style-type: none;
  padding: 10px;
}

.title {
  font-family: 'Roboto';
  font-size: 35px;
  color: #ff8542;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px;) {
  .title {
    font-size: 50px;
  }
}
